@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

body {
  background-color: midnightblue;
}

.button a {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin: 15px;
	padding: 0 15px;
	text-decoration: none;
    background: #93CFC1;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#93CFC1), to(#81e8eb));
    background: -moz-linear-gradient(#93CFC1, #81e8eb);
    background: linear-gradient(#93CFC1, #81e8eb);
    border: solid 1px #87d3d5;
    border-bottom: solid 3px #4fa7aa;
    box-shadow: inset 0 0 0 1px #d4f8f8;
    color: snow;
    text-shadow: 0 1px 0 #93CFC1; }

.button a:hover {
    background: #8deaed;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#8deaed), to(#9fedf0));
    background: -moz-linear-gradient(#8deaed, #9fedf0);
    background: linear-gradient(#8deaed, #9fedf0);
    border: solid 1px #79c5c7;
    border-bottom: solid 3px #4fa7aa;
    box-shadow: inset 0 0 0 1px #b9f2f5; }

.button a:active {
    background: #84e4e7;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#84e4e7), to(#80dcdf));
    background: -moz-linear-gradient(#84e4e7, #80dcdf);
    background: linear-gradient(#84e4e7, #80dcdf);
    border: solid 1px #58999b;
    box-shadow: inset 0 10px 15px 0 #75c9cc; }

table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 20px;
  max-width: 70%;
  width: 70%;
  text-align: center;
  border-collapse: collapse;
  border-top: 7px solid #93CFC1;
  border-bottom: 7px solid #93CFC1;
  margin: 40px 0 5px;
  padding: 25px 0 5px;
}
th {
  font-size: 13px;
  font-weight: normal;
  background: snow;
  border-right: 1px solid #93CFC1;
  border-left: 1px solid #93CFC1;
  color: midnightblue;
  padding: 3px;
  border-bottom: 1px dashed #93CFC1;
}
td {
  background: snow;
  border-right: 1px solid #93CFC1;
  border-left: 1px solid #93CFC1;
  color: black;
  padding: 3px;
  border-bottom: 1px dashed #93CFC1;
}

table a {
  text-decoration: none;
  color: black;
}

table a:hover {
  color: #9d999d;
}

h1, h2, h3 {
  color: #9DCFCE;
  font-family: 'Ubuntu Condensed', sans-serif;
  text-transform: uppercase;
}

/* Базовые стили формы */
form {
  margin:0 auto;
  max-width: 85%;
  box-sizing:border-box;
  padding:40px;
  border-radius:5px;
  background:RGBA(255,255,255,1);
  -webkit-box-shadow:  0 0 15px 0 rgba(0, 0, 0, .45);
  box-shadow:  0 0 15px 0 rgba(0, 0, 0, .45);
  color: #606060;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
/* Стили полей ввода */
input{
  height:50px;
  width:100%;
  border-radius:3px;
  border:rgba(0,0,0,.3) 2px solid;
  box-sizing:border-box;
  font-family: 'Open Sans', sans-serif;
  font-size:18px;
  padding:10px;
  margin-bottom:30px;
}
.message:focus,
input:focus{
  outline:none;
   border: midnightblue 2px solid;
   color: midnightblue;
}
/* Стили текстового поля */
.message{
    background: rgba(255, 255, 255, 0.4);
    width:100%;
    height: 120px;
    border:rgba(0,0,0,.3) 2px solid;
    box-sizing:border-box;
    -moz-border-radius: 3px;
    font-size:18px;
    font-family: 'Open Sans', sans-serif;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display:block;
    padding:10px;
    margin-bottom:30px;
    overflow:hidden;
}


form table td {
    border: 1px solid white;
    background-color: white;
}

form table {
    border: 1px solid white;
    background-color: white;
}